.holder{
    width: 90%;
    height: 750px;
    outline: 5px solid red;
    position: relative;
}

.elem-1{
    width: 150px;
    height: 150px;
    background-color: red;
    font-size: 50px;
    position: absolute;
    top: 300px;
    left: 300px;
}
.elem-2{
      width: 150px;
    height: 150px;
    background-color: rgb(81, 7, 255);
    font-size: 50px;
    position: absolute;
    top: 400px;
    left: 400px;
    z-index: 1;
}
.elem-3{
        width: 150px;
    height: 150px;
    background-color: rgb(0, 245, 33);
    font-size: 50px;
    position: absolute;
    top: 500px;
    left: 500px;  
}